<div class="mt-5 md-5" id="about">
  <div class="col">
    <%=image_tag "4hoHcFDdECc.jpg", class: "media"%>
  </div>
  <div class="col-8">
    <h2 class="post_name1">Hey, I'm Katerina.</h2>
    <p class="post_body">Welcome to my Blog zlo.
      This blog was written in Ruby on Rails. </p>
  </div>
</div>