
.navbar-dark{
    background: rgba(0, 0, 0, 0.5);!important;
}
header{
    height: 260px;
    background-image: url("IMG_20190930_235533.jpeg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}
nav{
    display: inline;
}
.navbar-dark .navbar-nav .nav-link {
    color: #F7F7F7;
    font-weight: 100;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #730E15;
}
.icon{
    width: 28px;
    height: 28px;
    text-align: right;
}
li{
    display: inline;
}
#head{
    color: #F7F7F7;
    font-size: 40px;
    margin-top: 100px;
    font-weight: 100;
}
a.head{
    color: #F7F7F7;
    font-weight: 100
}
a.head:hover{
    text-decoration: none;
    color: #730E15;
}
#sign_up{
    margin-left: 7px;
    font-weight: 100;
}
.col-3{
    justify-content: right;
}


.post_name, .post_name1 {
    color: black;
    font-weight: 200;
}
.post_name:hover {
    color: #730E15;
    text-decoration: none;
}

.post_date, .post_date1{
    color: #666666;
    font-size: 15px;
}
.post_date{
    position:absolute;
    bottom: 10px;
    left: 45px;
}
.input_file, #input_file{
    font-weight: 100;
}
#input_file{
    text-align: center;
}
#signUP_form {
    font-weight: 100;
}
.form-control{
    justify-content: center;
}
.col-6{
    margin-left: auto;
    margin-right: auto;
}
.border{
    border-radius: .25rem;
}
.post_body{
    font-weight: 200;
}
.new_post{
    color: black;
    font-weight: 200;
}
.btn{
    font-weight: 100;
}
.col-3{
    text-align: right;
}
.info_post{
   columns: 2;
    border: black;
}
.title-post{
    padding: 1.5rem;
}
.post_col{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;!important;
}
#content, #footer_size{
    padding: unset;
}
.img-fluid{
    width: 170px;
    height: 220px;
    text-align: right;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
#image_post{
    text-align: right;
}
.footer{
    background-color: black;
    height: 70px;
}
.footer_text {
    color: #F7F7F7;
    padding: 25px;
    font-size: 13px;
    font-weight: 200;
}
.strela{
    width: 24px;
    height: 24px;
    margin-left: 13px;
    margin-right: 13px;
}
#strela{
    text-align: center;
}
.password{
    color: black;
    font-weight: 100;
}
.password:hover{
    color: #730E15;
    text-decoration: none;
}
.git {
    color: #F7F7F7;
}
.git:hover {
    color: #730E15;
    text-decoration: none;
}