
.navbar-dark{
    background: rgba(0, 0, 0, 0.5);
}
header{
    height: 260px;
    background-image: url('IMG_20190930_235533.jpeg');
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}
nav{
    display: inline;
}
.navbar-dark .navbar-nav .nav-link {
    color: #F7F7F7;
    font-weight: 100;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #730E15;
}
.icon{
    width: 28px;
    height: 28px;
    text-align: right;
}
li{
    display: inline;
}
#head{
    color: #F7F7F7;
    font-size: 40px;
    margin-top: 100px;
    font-weight: 100;
}
a.head{
    color: #F7F7F7;
    font-weight: 100
}
a.head:hover{
    text-decoration: none;
    color: #730E15;
}
#sign_up{
    margin-left: 7px;
    font-weight: 100;
}
.col-3{
    justify-content: right;
}
.post_name{
    font-size:2vw;
}
.post_name, .post_name1 {
    color: black;
    font-weight: 200;
}
.post_name:hover {
    color: #730E15;
    text-decoration: none;
}

.post_date, .post_date1{
    color: #666666;
    font-size: 15px;
}
.post_date{
    position:absolute;
    bottom: 10px;
    left: 35px;
}
.input_file, #input_file{
    font-weight: 100;
}
#input_file{
    text-align: center;
}
#signUP_form {
    font-weight: 100;
}
.form-control{
    justify-content: center;
}
.col-6{
    margin-left: auto;
    margin-right: auto;
}

.border{
    border-radius: .25rem;
}
.post_body{
    font-weight: 200;
}
.new_post{
    color: black;
    font-weight: 200;
}
.btn{
    font-weight: 100;
}
.col-3{
    text-align: right;
}
.info_post{
   columns: 2;
    border: black;
}
.title-post{
    padding: 1rem;
}
.post_col{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
#content, #footer_size{
    padding: unset;
}
.img-fluid{
    width: 170px;
    height: 220px;
    text-align: right;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
#image_post{
    text-align: right;
    width: 100%;
    height: 100%;
}
.footer{
    background-color: black;
    height: 70px;
}
.footer_text {
    color: #F7F7F7;
    padding: 25px;
    font-size: 13px;
    font-weight: 200;
}
.strela{
    width: 24px;
    height: 24px;
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
}

#strela{
    text-align: center;
}
a:hover{
    text-decoration: none;
}
#about{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.password{
    color: black;
    font-weight: 100;
}
.password:hover{
    color: #730E15;
    text-decoration: none;
}
.git {
    color: #F7F7F7;
}
.git:hover {
    color: #730E15;
    text-decoration: none;
}
.media{
    width: 220px;
    height: 300px;
    border-radius: .25rem;
}
@media screen and (max-device-width: 992px) {
    .post_col { box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
    }
    .col-md-6{
        max-width: 100%;
        flex: 100%;
    }
    .icon{
        width: 28px;
        height: 28px;
        text-align: left;
    }
    .mt-3{
        padding: 0;
    }

    .post_name{
        font-size:3vw;
    }
    .navbar-toggler-icon{
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
    }
    header{
        height: 273px;
    }
    #head{
        text-align: left;
        margin-left: 1rem;
    }
    .media{
        flex: 100%;
        height: auto;
        width: 100%;
    }

    #about{
        justify-content: center;
    }
    .footer_text{
        text-align: center;
    }
    .col-8{
        margin-top: 5px;
    }
    .post_body{
        text-align: justify;
    }
    .knp{
        margin-top: 1em;
    }
    #content{
       padding-left: 5px;
        padding-right: 5px;
    }
}